Lab4/npp_lessons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="class">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="lesson">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="subject" type="xs:string" />
										<xs:element name="teacher" type="xs:string" />
										<xs:element name="day" type="xs:string" />
										<xs:element name="starttime" type="xs:string" />
										<xs:element name="endtime" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>